body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px 0;
  margin: 0;
  background: linear-gradient(to top, #6565e7, #af67e9);
  font: 1em/1.5 "Kumbh Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
  width: 70%;
  height: 460px;
  padding: 25px 40px 30px 0px;
  position: relative;
  border-radius: 25px;
  background: white url("/images/bg-pattern-desktop.svg") no-repeat 700% 80% /
    110%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.mobile-img {
  display: none;
}

.dice {
  position: absolute;
  top: 30%;
  left: -10%;
  width: 20%;
}

.empty-div {
  background: url("/images/illustration-woman-online-desktop.svg") no-repeat
    300% 10% / 110%;
}

.empty-div,
article {
  flex: 1 1 50%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: hsl(238, 29%, 16%);
  font-size: 2.5em;
  margin: 5px 0px;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
  overflow: scroll;
}

a {
  display: block;
  padding: 20px 0px;
  color: hsl(240, 6%, 50%);
  text-decoration-line: none;
  font-weight: lighter;
}

a:hover {
  color: lightsalmon;
}

p {
  font-size: 0.8em;
  padding-bottom: 10px;
}

/*/////////////// JS CLASSES  //////////////*/

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
  color: black;
}

.seperator {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.invert {
  transform: rotate(180deg);
}

/*///////////// MEDIA QUERIERS ////////////*/

@media (max-width: 585px) {
  body {
    overflow: visible;
  }

  .wrapper {
    flex-direction: column;
    min-height: auto;
    background: white url("/images/bg-pattern-mobile.svg") no-repeat center 0% /
      65%;
  }

  .mobile-img {
    display: inline;
    width: 72%;
    position: absolute;
    top: -110px;
    left: 10%;
  }

  .dice {
    display: none;
  }

  .empty-div {
    display: none;
  }

  article {
    align-items: center;
    padding-bottom: 25px;
  }

  .links-container {
    width: 90%;
  }

  h1 {
    font-size: 2em;
    margin-top: 30%;
  }
}

/*////// TO DO ////////////
Layer background images + too large at wider sizes 
Arrow positioning at end of line 
Responsiveness of line widths 
*/
