/*
- Mobile: 375px
- Desktop: 1440px
*/

body {
  font: 1em/1.5 "Kumbh Sans", sans-serif;
  margin: 0;
  background: linear-gradient(to top, #6565e7, #af67e9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  min-height: 600px;
  width: 90%;
  position: relative;
  border-radius: 20px;
  background: white url("/images/bg-pattern-desktop.svg") no-repeat 700% 80% /
    110%;
  box-shadow: 2px 15px 15px -15px #000;
}

.dice {
  position: absolute;
  top: 30%;
  left: -10%;
}

.empty-div {
  background: url("/images/illustration-woman-online-desktop.svg") no-repeat
    300% 10% / 110%;
}

.empty-div,
article {
  flex: 1 1 50%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: hsl(238, 29%, 16%);
  font-size: 2.5em;
  margin: 0;
}

a {
  display: block;
  padding: 20px 0px;
  color: hsl(240, 6%, 50%);
  text-decoration-line: none;
  font-weight: lighter;
}

a:hover {
  color: lightsalmon;
}

p {
  font-size: 0.8em;
  padding-bottom: 10px;
}

a,
p {
  width: 70%;
}

/*/////////////// JS CLASSES  //////////////*/

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
  color: black;
}

.seperator {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.invert {
  transform: rotate(180deg);
}

/*///////////// MEDIA QUERIERS ////////////*/

@media (max-width: 575px) {
  .wrapper {
    flex-direction: column;
    background: white url("/images/illustration-woman-online-mobile.svg")
      no-repeat 0% 0% / 50%;
  }

  .dice {
    display: none;
  }

  .empty-div {
    background: white url("/images/bg-pattern-mobile.svg") no-repeat center 0% /
      65%;
  }

  article {
    align-items: center;
  }

  h1 {
    font-size: 2em;
  }
}

/*////// TO DO ////////////
Layer background images with wrapper as context 
Position image relative to body - must be in src code to do so (hide normally - show when in media query) 
*/
